a-scene {
    overflow: clip;
}

:where(a-scene>:not(:is(canvas, div))) {
    opacity: 0;
    pointer-events: none;
}

.xrbutton {
    pointer-events: all;
    background-color: #222;
    border-radius: 5mm;
    border: 3px solid  #aaa;
    color: #fff;
    text-align: center;
    width: 10cm;
    height: 5cm;
}

.xrbutton._hover {
    background-color: #368;
}


a-xywindow a-xybutton {
    --hover-alt-class: 'active';
    pointer-events: all;
    background-color: red;
    border-radius: 5mm;
    border-top-left-radius: 0px;
    background-image: url("../examples/ui.png");

    border: 3px solid  green;

    color: green;
    width: 10cm;
    height: 5cm;
    text-align: center;
}

a-xywindow a-xybutton.active {
    background-color: rgba(0,255,0,1);
    color: yellow;
    transform: rotateZ(30deg) scale3d(1.5,1.5,1) translateZ(10px);
}

a-xyinput {
    pointer-events: all;
    background-color: white;
    caret-color: blue;
    border-radius: 5mm;
    border: 3px solid  #aaa;

    width: 10cm;
    height: 5cm;
}
