a-scene {
    overflow: clip;
}

:where(a-scene>:not(canvas, div)) {
    opacity: 0;
    pointer-events: none;
}

#mywindow .xrbutton {
    pointer-events: all;
    background-color: #222;
    border-radius: 5mm;
    border: 3px solid  #aaa;
    color: #fff;
    text-align: center;
    width: 10cm;
    height: 5cm;
}

#mywindow .xrbutton._hover {
    background-color: #368;
}

#mywindow a-xybutton {
    --hover-alt-class: 'active';
    pointer-events: all;
    background-color: red;
    border-radius: 5mm;
    border-top-left-radius: 0px;

    border: 3px solid  green;

    color: green;
    width: 10cm;
    height: 5cm;
    text-align: center;
    transition: 1s all;
}

#mywindow a-xybutton.active {
    background-color: rgba(0,255,0,1);
    color: yellow;
    transform: rotateZ(30deg) scale3d(1.5,1.5,1) translateZ(10px);
}

#mywindow a-xyinput {
    pointer-events: all;
    background-color: white;
    caret-color: blue;
    border-radius: 5mm;
    border: 3px solid  #aaa;

    width: 10cm;
    height: 5cm;
}
