a-scene {
    overflow: clip;
}

:where(a-scene>:not(canvas, div)) {
    opacity: 0;
    pointer-events: none;
}

#mywindow a-xybutton {
    pointer-events: all;
    background-color: #222;
    border-radius: 5mm;
    border: 3px solid #aaa;
    color: #fff;
    text-align: center;
    width: 10cm;
    height: 5cm;
}

#mywindow a-xybutton._hover {
    background-color: #368;
}

#mywindow .test-button {
    --hover-alt-class: 'active';
    pointer-events: all;
    background-color: cyan;
    border-radius: 5mm;

    border: 3px solid green;

    color: red;
    width: 10cm;
    height: 5cm;
    text-align: center;
    transition: 1s all;
}

#mywindow .test-button.active {
    background-color: rgba(0, 255, 0, 0.5);
    color: yellow;
    transform: rotateZ(30deg) scale3d(1.5, 1.5, 1) translateZ(10px);
}

#mywindow .anim-rotate {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#mywindow a-xyinput {
    pointer-events: all;
    background-color: white;
    caret-color: blue;
    border-radius: 5mm;
    border: 3px solid #aaa;

    width: 10cm;
    height: 5cm;
}